<p>{{titre}}</p>

<h3>Utilisation du *ngif else</h3>
<div  *ngFor="let assignment of assignements">
    <p  *ngIf="assignment.rendu else nonrendu"> {{assignment.nom}} est rendu le {{assignment.datedeRendu}} rendu {{assignment.rendu}}</p>
    <ng-template #nonrendu>
         {{assignment.nom}} a rendre le {{assignment.datedeRendu}} rendu {{assignment.rendu}}
    </ng-template>
</div>

<h3>Utilisation du [ngstyle]</h3>
<div *ngFor="let assignment of assignements">
    <p  [ngStyle]="{color:assignment.rendu?'green':'red'}"> {{assignment.nom}} date de rendu {{assignment.datedeRendu}} rendu {{assignment.rendu}}</p>
</div>

<h3>Utilisation du [ngClass]</h3>
<div *ngFor="let assignment of assignements">
    <p  [ngClass]="{'rendu':assignment.rendu, 'nonRendu':!assignment.rendu}"> {{assignment.nom}} date de rendu {{assignment.datedeRendu}} rendu {{assignment.rendu}}</p>
</div>

<h3>Utilisation directive avec *ngif</h3>
<div *ngFor="let assignment of assignements">
    <p appRendu *ngIf="assignment.rendu; else nonsoumis"> {{assignment.nom}} date de rendu {{assignment.datedeRendu}} rendu {{assignment.rendu}}</p>
    <ng-template #nonsoumis>
        {{assignment.nom}} date limite {{assignment.datedeRendu}} rendu {{assignment.rendu}}
    </ng-template>
</div>

<table>
    <tr *ngFor="let assignment of assignements">
        <td>{{assignment.nom}}</td>
        <td>{{assignment.datedeRendu}}</td>
        <td>{{assignment.rendu}}</td>
    </tr>
</table>
<p>

</p>
<form ngForm #assignmentForm (submit)="onSubmit($event)" class="form">
    <mat-form-field>
        <input matInput [(ngModel)]="nomDevoir" placeholder="" name="nom">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Date de rendu</mat-label>
        <input matInput [matDatepicker]="picker" 
        [(ngModel)]="dateDeRendu"
        name="date"
        >
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      

    <button [disabled]="!ajoutActive" mat-stroked-button color="primary">
      Ajouter un devoir
    </button>
</form>
<p>{{nomDevoir}}</p>

