<form #formLogin (submit)="isLogged($event); formLogin.reset()">
<p>
    <mat-form-field appearance="fill">
      <mat-label>Utilisateur</mat-label>
      <input matInput placeholder="nom" [(ngModel)]="nom">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <p>
    <mat-form-field appearance="fill">
      <mat-label>Mot de passe</mat-label>
      <input type="password" matInput placeholder="mot de passe" [(ngModel)]="motdepasse">
      <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
    </mat-form-field>
  </p>
  <!-- <button mat-stroked-button>Basic</button> -->
  </form>